<%- assets.js() %>

<strong>Tabel User </strong><br>
 <a class="btn btn-primary" href="http://localhost:1337/admin/adduser">Tambah User</a>
  <a class="btn btn-primary" href="http://localhost:1337/admin/addrumah">Tambah Rumah</a>
  
<table border = 1>
<tr>
<td>ID</td>
<td>User</td>
<td>Pass</td>
<td>Nama</td>
<td>Nomor HP</td>
<td>Email</td>
<td>ID Rumah</td>
<td>Aksi</td>
</tr>

<% _.each(query, function (row) { %>
<tr>
	<td><%= row.id %></td>
	<td><%= row.username %> </td>
	<td><%= row.password %></td>
	<td><%= row.nama %></td>
	<td><%= row.HP %></td>
	<td><%= row.email %></td>
	<td><%= row.rumah_id %></td>
	<td><a href="http://localhost:1337/admin/deleteuser/<%= row.id %>">Delete</i></a></td>
</tr>
<% }) %>
</table>