<strong>Cpanel Login </strong><br>
<%- assets.js() %>
		
<form action="http://localhost:1337/cpanel/login" method="POST">
Username : <input type="text" name="user"><br>
Password : <input type="password" name="pass"><br>
<button class="btn btn-primary" type="submit">Login</button>
</form>