Data anda : <br>
Username : <%= session.username %> <br>
Password : Rahasia :p <br>
Nama : <%= session.Nama %> <br>
HP : <%= session.HP %> <br>
Email : <%= session.email %> <br>
Rumah_id : <%= session.rumah_id %> <br>
